@{
    ViewData["Title"] = "Home Page";
}

@model List<Domain.Product>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Categories</h3>
            <ul>
                <li><a href="@Url.Action("Index", "Product")">Show All</a></li>
                @foreach (var category in ViewBag.Categories as List<Domain.ProductCategory>)
                {
                    <li><a href="@Url.Action("Index", "Product", new { categoryId = category.Id })">@category.Department</a></li>
                }
            </ul>
            <h3>Suppliers</h3>
            <ul>
                <li><a href="@Url.Action("Index", "Product")">Show All</a></li>
                @foreach (var supplier in ViewBag.Suppliers as List<Domain.Supplier>)
                {
                    <li><a href="@Url.Action("Index", "Product", new { supplierId = supplier.Id })">@supplier.Name</a></li>
                }
            </ul>
        </div>
        <div>
            @foreach (var element in Model)
            {
                <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                    <div class="card">
                        <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Product
                                @{
                                    var num = Model.IndexOf(element) + 1;
                                }
                                @num
                            </h5>
                            <h5 class="card-title">@element.Name</h5>
                            <p class="card-text">@element.Description.</p>
                            <p class="card-text">Category: @element.ProductCategory.Department</p>
                            <p class="card-text">Supplier: @element.Supplier.Name</p>
                            <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                            <a href="" type="button" class="btn btn-primary">Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
